body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.heading {
  grid-area: header;
  text-align: center;
  padding: 1.5em;
}

.heading h2 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: .2em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.25rem;
  text-align: center;
}

h4 {
  font-size: 1.3rem;
  text-transform: uppercase;
}

h5 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0.7em 0;
}

.button {
  display: inline-block;
  font-weight: bold;
  padding: .5em 1.7em;
  border-radius: 5em;
  -webkit-transition: -webkit-transform .5s !important;
  transition: -webkit-transform .5s !important;
  -o-transition: transform .5s !important;
  transition: transform .5s !important;
  transition: transform .5s, -webkit-transform .5s !important;
}

.button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.container {
  max-width: 900px;
  margin: 0 auto 2em;
  padding: 0 2em;
}

#footer {
  text-align: center;
  padding: 3em;
  background-color: #151412;
  color: #fff;
}

.home-page {
  height: 100vh;
  overflow: hidden;
  color: #fff;
  display: grid;
  grid-template-areas: "header" "nav";
}

@media screen and (min-width: 700px) {
  .home-page {
    grid-template-rows: 45% 55%;
  }
}

@media screen and (max-width: 700px) {
  .home-page {
    grid-template-rows: 35% 65%;
  }
}

.home-header {
  grid-area: header;
  display: grid;
  grid-template-areas: "logo ." "heading heading";
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
}

.home-header #logo {
  grid-area: logo;
  margin: .5em 1em;
}

.home-header #logo .logo-blue {
  color: #00dbff;
}

.home-header .home-page-heading {
  grid-area: heading;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  letter-spacing: .5em;
  text-transform: uppercase;
  -webkit-box-reflect: above 0 -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(0.35, transparent), to(rgba(0, 0, 0, 0.25)));
}

@media screen and (min-width: 700px) {
  .home-header #logo {
    font-size: 3rem;
  }
  .home-header .home-page-heading {
    font-size: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .home-header #logo {
    font-size: 2rem;
  }
  .home-header .home-page-heading {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 550px) {
  .home-header #logo {
    font-size: 1.5rem;
  }
  .home-header .home-page-heading {
    font-size: 2rem;
  }
}

.navigation {
  grid-area: nav;
}

.navigation ul .button {
  color: #105255;
  background-color: #00dbff;
  -webkit-box-shadow: 0 0 5px #00dbff, 0 0 25px #00dbff;
          box-shadow: 0 0 5px #00dbff, 0 0 25px #00dbff;
}

@media screen and (min-width: 700px) {
  .navigation ul {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigation ul li {
    margin: 2em 1em;
  }
  .navigation ul li:nth-child(-n+3) {
    grid-column: span 2;
  }
  .navigation ul li:nth-child(4), .navigation ul li:nth-child(5) {
    grid-column: span 3;
  }
  .navigation ul li:nth-child(6) {
    grid-column: span 6;
  }
  .navigation ul li a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  .navigation ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation ul li {
    margin: 1em;
  }
  .navigation ul li:nth-child(1) {
    width: 57%;
  }
  .navigation ul li:nth-child(2) {
    width: 54%;
  }
  .navigation ul li:nth-child(3) {
    width: 51%;
  }
  .navigation ul li:nth-child(4) {
    width: 48%;
  }
  .navigation ul li:nth-child(5) {
    width: 45%;
  }
  .navigation ul li a {
    font-size: 1.5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .navigation ul li a {
    font-size: 1.2rem;
  }
}

.navigation #menu-icon {
  position: fixed;
  top: 2em;
  left: -3em;
  width: 3em;
  height: 3em;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.navigation #menu-icon span {
  display: block;
  position: absolute;
  height: 0.5em;
  width: 100%;
  background: #00dbff;
  border-radius: 0.5em;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.navigation #menu-icon span:nth-child(1) {
  top: 0;
}

.navigation #menu-icon span:nth-child(2), .navigation #menu-icon span:nth-child(3) {
  top: 0.8em;
}

.navigation #menu-icon span:nth-child(4) {
  top: 1.6em;
}

.navigation.menu-open {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #151412;
  opacity: 0.95;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

@media screen and (max-width: 550px) {
  .navigation.menu-open {
    width: 100vw;
  }
}

@media screen and (min-width: 550px) {
  .navigation.menu-open {
    width: 50vw;
  }
}

@media screen and (min-width: 700px) {
  .navigation.menu-open {
    width: 30vw;
  }
}

.navigation.menu-open #menu-icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navigation.menu-open #menu-icon span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation.menu-open #menu-icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navigation.menu-open #menu-icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navigation.menu-open ul {
  position: relative;
  top: 20%;
  grid-template-columns: 1fr;
  width: 100%;
  z-index: 1;
}

.navigation.menu-open ul li {
  margin: 0;
  grid-column: 1;
  width: 100%;
}

.navigation.menu-open ul li .button {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  color: #fff;
}

#bg-home-page {
  background: #151412;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about {
  display: grid;
  grid-template-columns: 17em auto;
  grid-template-areas: "img content" "info content";
  grid-column-gap: 3em;
  justify-items: center;
  margin: 0 auto;
  padding-bottom: 1.5em;
}

.about .about-image {
  grid-area: img;
}

.about .about-image img {
  width: 15em;
  height: 15em;
  border-radius: 10em;
}

.about .about-info {
  grid-area: info;
}

.about .about-info .info-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-info .info-item p {
  margin: 0.35em;
}

.about .about-info .info-item p.info-title {
  font-weight: bold;
}

.about .about-content {
  grid-area: content;
  max-width: 40em;
  line-height: 1.5em;
}

@media screen and (max-width: 700px) {
  .about {
    grid-template-areas: "img info" "content content";
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1em;
    justify-items: start;
  }
  .about .about-image img {
    width: 10em;
    height: 10em;
  }
}

@media screen and (max-width: 550px) {
  .about {
    grid-template-areas: "img" "info" "content";
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

#experience {
  color: #fff;
  background-color: #151412;
  background: url("../img/bg-experience.jpg") no-repeat center/cover;
}

.experience {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em 2em 3em;
}

.experience .education,
.experience .experience-work {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 2em;
}

.experience .period {
  text-align: center;
}

.experience .period .year {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.7rem;
  font-weight: 900;
  line-height: .85em;
}

.experience .period .year .period-present {
  font-size: 1.1rem;
}

.experience .period p:nth-child(2) {
  font-style: italic;
  font-size: 0.9em;
}

.experience .experience-info {
  margin: 0 1em;
}

.experience .experience-info h5 span {
  white-space: pre;
}

.experience .experience-info li {
  margin: 0.5em 0;
  font-style: italic;
}

.experience .experience-work {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

@media screen and (min-width: 550px) {
  .experience .period {
    width: 8em;
  }
  .experience .head-experience-work {
    text-align: right;
  }
}

@media screen and (max-width: 550px) {
  .experience h4 {
    text-align: center;
  }
  .experience .education,
  .experience .experience-work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  .experience .period p {
    margin: 0;
  }
  .experience .period .year {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  .experience .period .year span:nth-child(2) {
    padding: 0 0.5em;
  }
  .experience .experience-info {
    margin: 0.5em 1em;
  }
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  grid-gap: 5em;
  margin: 0 auto;
  padding: 0 2em 5em;
  max-width: 1200px;
}

.portfolio .work-item {
  height: 30em;
  overflow: hidden;
  position: relative;
}

.portfolio .work-item .work-content,
.portfolio .work-item .button,
.portfolio .work-item .work-tags {
  position: relative;
  color: #fff;
  opacity: 0;
  margin: 1.5em;
  z-index: 1;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.portfolio .work-item .button {
  border: 1px solid #fff;
}

.portfolio .work-item .work-tags {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
}

.portfolio .work-item .work-tags li {
  margin: 0.4em;
}

.portfolio .work-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 0;
}

.portfolio .work-item:hover::after {
  background-color: rgba(0, 0, 0, 0.9);
}

.portfolio .work-item:hover .work-content,
.portfolio .work-item:hover .button,
.portfolio .work-item:hover .work-tags {
  opacity: 1;
}

.portfolio .work-restaurente {
  background: url("../img/portfolio/work-restaurante.jpg") no-repeat top/cover;
}

.portfolio .work-adele {
  background: url("../img/portfolio/work-adele.jpg") no-repeat top/cover;
}

.portfolio .work-minima {
  background: url("../img/portfolio/work-minima.jpg") no-repeat top/cover;
}

#skills {
  background-color: #151412;
  color: #fff;
}

.skills {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 2em 3em;
}

.skills .skills-item {
  width: 9em;
  margin: 1.5em;
  fill: #aeaeae;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.skills .skills-item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.skills .skills-item:hover.skills-html {
  fill: #e9622b;
}

.skills .skills-item:hover.skills-css {
  fill: #1a6fb4;
}

.skills .skills-item:hover.skills-js {
  fill: #efd81d;
}

.skills .skills-item:hover.skills-jquery {
  fill: #1a71b5;
}

.skills .skills-item:hover.skills-sass {
  fill: #c76494;
}

.skills .skills-item:hover.skills-gulp {
  fill: #e44849;
}

.skills .skills-item:hover.skills-git {
  fill: #e94e31;
}

@media screen and (max-width: 700px) {
  .skills .skills-item {
    width: 7em;
  }
}

.contacts {
  display: grid;
  grid-template-areas: 'info email' 'social email';
  grid-column-gap: 2em;
}

.contacts-email {
  grid-area: email;
}

.contacts-email .email-subject,
.contacts-email .email-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 1em;
}

.contacts-email .email-content {
  margin: 2em 0;
  height: 15em;
  resize: vertical;
}

.contacts-email .email-send {
  display: block;
  margin: 0 auto;
  padding: 1em 3em;
  border: none;
  border-radius: .4em;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.contacts-email .email-send:hover {
  background-color: #00869c;
}

.contacts-info {
  text-align: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.contacts-info span {
  font-weight: 600;
}

.contacts-info a {
  white-space: pre;
}

.contacts-info a:hover {
  color: #00869c;
}

.contacts-social {
  -webkit-align-self: end;
      -ms-flex-item-align: end;
          align-self: end;
}

.contacts-social ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 20em;
  margin: 0 auto;
}

.contacts-social ul li {
  fill: #aeaeae;
  width: 20%;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.contacts-social ul li .svg-icon {
  fill: #fff;
}

.contacts-social ul li:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.contacts-social ul li.svg-icon-vk:hover {
  fill: #4e7db2;
}

.contacts-social ul li.svg-icon-github:hover {
  fill: #823f9a;
}

.contacts-social ul li.svg-icon-viber:hover {
  fill: #8c66a9;
}

.contacts-social ul li.svg-icon-whatsapp:hover {
  fill: #42e35f;
}

.contacts-social ul li.svg-icon-telegram:hover {
  fill: #2da1d3;
}

@media screen and (max-width: 700px) {
  .contacts {
    grid-template-areas: "info" "email" "social";
  }
  .contacts-social {
    margin-top: 2em;
  }
}
